@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400,700|Open+Sans:400,700);

$font-family: 'Open Sans', 'Open Sans', 'Helvetica Neue', Helventica, Arial, sans-serif;
$headline-family: 'Fjalla One', 'Open Sans', 'Helvetica Neue', Helventica, Arial, sans-serif;


* {
  box-sizing: border-box;
  &:focus{
    outline: none
  }
}
body, html{
  font: 400 16px/21px $font-family;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  top: 0;
  position: relative;
}

.headlineFont{
  font-family: $headline-family;
}

select{
  width: 90vw;
}

input{
  width: 100%;
  border-radius: 8px;
  display: block;
  font-size: 16px;
  border: 1px solid #9b9b9b;
  padding: 10px;
  margin-bottom: 10px;
  &:focus{
    outline: none
  }
}

a{
  text-decoration: none;
}

.aLeague{
  display: block;
  padding: 10px;
  box-shadow: 0 0 12px #999;
  margin: 10px 0;
  color: #232323;
  text-decoration: none;
}

.aLeagueList{
  padding: 10px;
}

.aHeadline{
  font: 400 20px/24px $headline-family;
  padding: 10px 20px;
  background: #f8f8f8;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #4a4a4a;
  .aHeadline-sub{
    font-size: 12px;
    color: #9b9b9b;
    text-transform: uppercase;
  }
  &.withoutBack{
    a{
      position: absolute;
      right: 10px;
    }
  }
  &.asSmall{
    font: 400 14px/14px $headline-family;
    color: #4a4a4a;
    text-decoration: underline;
    text-decoration-color: #62c69a;
  }
  &.asGreen{
    background-color: #62c69a;
    margin: 0;
    color: white;
  }
  &.onDark{
    color: inherit;
    background: transparent;
  }
  &.asLarge{
    padding: 20px;
  }
}

.aLoading{
  width: 30vw;
  height: 30vw;
  margin: 25vw auto 0;
  img{
    width: 100%;
    height: 100%;
  }
}
